// Color variables.

// Universal colours.
$main-color: #FFFFFF;
$first-color: #6A93C0;
$second-color: #C3C3C7;
$third-color: #000000;
$fourth-color: #373645;

// Colors for taxonomy terms.
$web-development: #53CCB3;
$php-development: #AF7AC4;
$app-development: #EC6D60;
$drupal-project: #43B3E3;
