{# Twig for generating the HTML structure of a view. #}

<div{{ attributes.addClass(classes) }}>
  {% if title is defined %}
    Title: {{ title }}<br>
  {% endif %}

  {% if header is defined %}
    Header: {{ header }}<br>
  {% endif %}

  {% if content is defined %}
    Content: {{ content }}<br>
  {% endif %}
</div>
