.block-cheeseburger-menu-trigger {
  padding: 20px;
  z-index: 15 !important;
}

.block-cheeseburger-menu {
  z-index: 9999;
  display: none;

  .cheeseburger-menu__side-menu {
    .cheeseburger-menu__side-trigger {
      min-height: fit-content !important;
      height: fit-content !important;
      padding-top: 40px;
    }
  }

  .cheeseburger-menu__main-navigation-area {
    position: relative;
    padding-top: 35px;

    & > div {
      border-bottom: none;
    }

    div {
      ul {
        .main__item {
          &:first-child {
            a {
              padding: 0 10px;
              color: transparent;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url("../images/Menu-homepage.png");
            }
          }
        }

        li {
          a {
            width: fit-content !important;
            max-width: fit-content !important;
            min-width: fit-content !important;
          }

          .in-active-trail {
            position: relative;
          }
        }
      }
    }

    .block-social-media-links-block.duplicated {
      position: absolute;
      bottom: 0;
      display: block !important;

      ul {
        display: flex !important;
        justify-content: center;

        li {
          padding: 0 15px !important;

          a {

            span {
              &::before {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@include large {
  .block-cheeseburger-menu {
    display: block;
  }
}

@include small {
  .block-cheeseburger-menu-trigger {
    padding: 5px;
  }
}
