// Styles for the banner.
.top-page-banner-is {
  background-image: url("../images/header.png");
}

// Styles for the main content.
.main-content {
  min-height: 100hv;
}

.alert {
  top: 25%;
  position: fixed;
  right: 25%;
  z-index: 9999;
  left: 25%;
}
