@import "../abstracts/mixins/media-query";

// Styles for the banner.
.top-page-banner-is {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/header.png");

  @include large {
    background-size: contain;
  }
}

// Styles for the main content.
.main-content {
  min-height: 100hv;
}

