// Styles for the pager.
.pager {
  margin: 20px 0;

  ul {
    li {
      padding: 5px;

      a {
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 50%;
        color: black;
        font-size: 18px;

        &:hover {
          background-color: white;
        }
      }

      &.is-active {
        a {
          background-color: $second-color;

          &:hover {
            background-color: $second-color;
          }
        }
      }

      &.pager-item {
        &--next,
        &--last {
          a {
            span {
              font-size: $medium;
            }
          }
        }
      }
    }
  }
}
