h2 {
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto !important;
  font-size: 32px;
  position: relative;
  text-align: center;

  &::before, &::after {
    content: ' ';
    top: 50%;
    position: absolute;
    width: 42%;
    height: 1px;
    background-color: #000;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }
}

