// Styles for text and decorations in the title of a block or page.
h2, .view-header, .block-field-blocknodepagetitle {
  margin-top: 65px;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  span {
    text-transform: uppercase;
    font-weight: bold;
  }

  &::before, &::after {
    content: ' ';
    top: 50%;
    position: absolute;
    width: 42%;
    height: 1px;
    background-color: #000;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }
}

h2 {
  max-width: 1200px;
  margin: 0 auto !important;
  font-size: 32px;
}

.view-header {
  font-size: $medium;

  &::before, &::after {
    content: ' ';
    top: 50%;
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: #000;
  }
}

// Adaptations of text and decorations in the title of a block or page.
@include x-large {
  h2, .block-field-blocknodepagetitle {
    &::before, &::after {
      width: 40% !important;
    }
  }

  .view-header {
    &::before, &::after {
      width: 35% !important;
    }
  }
}

@include large {
  h2, .block-field-blocknodepagetitle {
    &::before, &::after {
      width: 35% !important;
    }
  }

  .view-header {
    &::before, &::after {
      width: 30% !important;
    }
  }

  .block-field-blocknodepagetitle {
    font-size: $medium !important;
  }
}

@include medium {
  h2 {
    font-size: 28px !important;
  }

  .view-header {
    &::before, &::after {
      width: 25% !important;
    }
  }
  .block-field-blocknodepagetitle {
    &::before, &::after {
      width: 40% !important;
    }
  }
}

@include small {
  h2 {
    font-size: 26px !important;

    &::before, &::after {
      width: 30% !important;
    }
  }

  .block-field-blocknodepagetitle {
    &::before, &::after {
      width: 35% !important;
    }
  }

  .view-header {
    &::before, &::after {
      width: 20% !important;
    }
  }
}

@include x-small {
  h2 {
    &::before, &::after {
      width: 25% !important;
    }
  }

  .block-field-blocknodepagetitle, .view-header {
    font-size: $average !important;

    &::before, &::after {
      width: 30% !important;
    }
  }

  .view-header {
    &::before, &::after {
      width: 15% !important;
    }
  }
}
