{# Twig for generating the HTML structure of a one-column page. #}
{%
  set classes = [
  'layout',
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.content }}
  </div>
{% endif %}
