.main-content {
  main {
    .region-content-about {
      .region-content {
        padding: 0;
        width: 1220px;
        margin: 0 auto;
        margin-bottom: 50px;

        article {
          .content {
            .layout {
              & > * {
                text-transform: uppercase;
              }

              .block-layout-builder:first-child {
                &::before {
                  width: 45%;
                }

                &::after {
                  width: 45%;
                }
              }
            }
          }
        }
      }
    }
  }
}
