// Styles for the About page.
.main-content {
  main {
    .region-content-about {
      .region-content {
        padding: 0 10px;
        max-width: 1220px;
        margin: 0 auto;
        margin-bottom: 50px;

        article {
          .content {
            .layout {
              & > * {
                text-transform: uppercase;
              }

              .block-layout-builder:first-child {
                &::before {
                  width: 45%;
                }

                &::after {
                  width: 45%;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Styles for responsiveness.
@include x-large {
  .main-content {
    main {
      .region-content-about {
        .region-content {
          max-width: 1220px;
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content-about {
        .region-content {
          article {
            .content {
              .layout {
                .block-field-blocknodepage {
                  &body {
                    .field--name-body {
                      p {
                        font-size: $average;
                        line-height: 1;
                      }
                    }
                  }

                  &field-paragraph-additional {
                    .field--name-field-paragraph-additional {
                      .field--item {
                        .paragraph--type--text {
                          .field--name-field-paragraph-text {
                            .field--item {
                              p {
                                font-size: $average;
                                line-height: 1;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include small {
  .main-content {
    main {
      .region-content-about {
        .region-content {
          article {
            .content {
              .layout {
                .block-field-blocknodepage {
                  &body {
                    .field--name-body {
                      p {
                        font-size: $small;
                      }
                    }
                  }

                  &field-paragraph-additional {
                    .field--name-field-paragraph-additional {
                      .field--item {
                        .paragraph--type--text {
                          .field--name-field-paragraph-text {
                            .field--item {
                              p {
                                font-size: $small;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-small {
  .main-content {
    main {
      .region-content-about {
        .region-content {
          article {
            .content {
              .layout {
                .block-field-blocknodepage {
                  &body {
                    .field--name-body {
                      p {
                        font-size: $x-small;
                      }
                    }
                  }

                  &field-paragraph-additional {
                    .field--name-field-paragraph-additional {
                      .field--item {
                        .paragraph--type--text {
                          .field--name-field-paragraph-text {
                            .field--item {
                              p {
                                font-size: $x-small;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
