.main-content {
  main {
    .region-content-clients {
      .region-content {
        padding: 0;
        width: 1220px;
        margin: 0 auto;

        article {
          .content {
            .layout {
              .block-layout-builder:nth-of-type(1) {
                &::before {
                  width: 44%;
                }

                &::after {
                  width: 44%;
                }
              }

              .block-views {
                div {
                  .view-all-clients {
                    .view-content {
                      display: flex;
                      flex-wrap: wrap;

                      .views-row {
                        width: 50%;

                        article {
                          .content {
                            .layout {
                              .block-layout-builder {
                                &:nth-child(1) {
                                  &::before, &::after {
                                    display: none;
                                  }

                                  .field--name-field-images-clients {
                                    a {
                                      img {
                                        height: auto;
                                        width: 300px;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
