// Styles for the news page.
.main-content {
  main {
    .region-content-news {
      .region-content {
        padding: 0;
        max-width: 1220px;
        margin: 0 auto;

        article {
          .content {
            .layout {
              .block-views {
                div {
                  .view-search-news {
                    // Styles for empty results.
                    .view-empty {
                      text-transform: uppercase;
                      width: fit-content;
                      margin: 10px auto;
                      padding: 10px 15px;
                      max-width: 1220px;
                      border: 2.5px solid $second-color;
                      background-color: $main-color;
                    }

                    // Styles for search filters.
                    .view-filters {
                      max-width: 1220px;
                      margin: 0 auto;
                      padding-bottom: 25px;

                      .views-exposed-form {
                        .form--inline {
                          width: fit-content;
                          display: flex;

                          .form-wrapper {
                            margin: 0;
                            padding: 0;
                            clear: none;

                            input {
                              font-size: $small;
                              margin-left: 2.5px;
                              border: 1px solid rgb(103, 191, 220);
                              border-radius: 2.5px;
                              background-color: rgb(103, 191, 220);
                            }
                          }

                          .form-item {
                            margin: 0;
                            padding: 0;
                            margin-right: 2.5px;

                            label {
                              display: none;
                            }

                            input {
                              border-radius: 2.5px;
                              font-size: $small;
                              position: relative;

                              &::before {
                                position: absolute;
                                color: $second-color;
                                content: "Search";
                                z-index: 9999;
                              }
                            }
                          }
                        }
                      }
                    }

                    // Styles for found content.
                    .view-content {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-around;

                      .views-row {
                        width: 47%;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 25px;

                        article {
                          display: flex;
                          flex-direction: column;
                          align-items: center;

                          .content {
                            & > * {
                              text-transform: uppercase;
                              margin: 0;
                              padding: 0;
                            }

                            .row {
                              &:nth-child(1) {
                                & > * {
                                  padding: 0;
                                }

                                // Styles for the right block with dates.
                                .bs-region--left {
                                  width: fit-content;
                                  display: flex;
                                  flex-direction: column;
                                  align-items: center;
                                  padding-right: 15px;

                                  & > * {
                                    margin: 0;
                                    padding: 0;
                                    width: fit-content;
                                  }

                                  .block-layout-builder {
                                    &::before, &::after {
                                      display: none;
                                    }

                                    // Styles for the month.
                                    &:nth-child(1) {
                                      font-size: $average;
                                      line-height: normal;
                                      font-weight: 400;
                                    }

                                    // Styles for the date.
                                    &:nth-child(2) {
                                      color: $first-color;
                                      font-weight: 700;
                                      font-size: 42px;
                                      line-height: 0.75;
                                    }

                                    // Styles for the year.
                                    &:nth-child(3) {
                                      line-height: 1;
                                      font-size: $small;
                                      color: $second-color;
                                    }
                                  }
                                }

                                // Styles for the left block with main content.
                                .bs-region--right {
                                  position: relative;
                                  display: flex;
                                  flex-wrap: wrap;
                                  width: 88%;

                                  & > * {
                                    margin: 0;
                                    padding: 0;
                                  }

                                  .block-layout-builder {
                                    & > * {
                                      font-size: 10px;
                                      line-height: 0.75;
                                    }

                                    &::before, &::after {
                                      display: none;
                                    }

                                    // Styles for the image.
                                    &:nth-child(1) {
                                      width: fit-content;
                                      height: fit-content;
                                      border-left: 1px solid $second-color;
                                      padding-left: 15px;

                                      .field--name-field-images-news {
                                        img {
                                          width: auto;
                                          height: 72px;
                                        }
                                      }
                                    }

                                    // Styles for the position.
                                    &:nth-child(2) {
                                      margin-left: 10px;
                                      height: fit-content;

                                      .field--name-field-job-news {
                                        color: $second-color;
                                      }
                                    }

                                    // Styles for the first and last name.
                                    &:nth-child(3) {
                                      height: fit-content;
                                      width: fit-content;
                                      white-space: nowrap;
                                      margin-left: 2.5px;

                                      .field::after {
                                        content: '/';
                                        display: inline;
                                        margin: 0 2.5px;
                                      }
                                    }

                                    // Styles for the taxonomy term.
                                    &:nth-child(4) {
                                      height: fit-content;

                                      .field--name-field-news-topic {
                                        a {
                                          text-decoration: none;
                                          color: $first-color;
                                        }
                                      }
                                    }

                                    // Styles for the elapsed time since publication.
                                    &:nth-child(5) {
                                      height: fit-content;
                                      color: $second-color;
                                      display: flex;
                                      justify-content: flex-end;
                                      position: absolute;
                                      right: 0;
                                    }

                                    // Styles for the title.
                                    &:nth-child(6) {
                                      border-left: 1px solid $second-color;
                                      padding-left: 15px;
                                      margin-top: 20px;
                                      line-height: 0.75;
                                      justify-content: normal;
                                      padding-bottom: 15px;
                                      width: 100%;

                                      span {
                                        font-weight: 400;
                                        font-size: $main;
                                      }
                                    }

                                    // Styles for the main text.
                                    &:nth-child(7) {
                                      width: 100%;
                                      border-left: 1px solid $second-color;
                                      padding-left: 15px;
                                      padding-bottom: 20px;

                                      .field--name-body {
                                        p {
                                          font-size: $x-small;
                                          letter-spacing: 0;
                                          word-spacing: -1px;
                                          line-height: 1;
                                        }
                                      }
                                    }

                                    // Styles for the link.
                                    &:nth-child(8) {
                                      border-left: 1px solid $second-color;
                                      width: 100%;
                                      justify-content: flex-end;
                                      height: fit-content;

                                      & * {
                                        display: flex;
                                        height: fit-content;
                                        padding: 0;
                                      }

                                      .node--links {
                                        ul {
                                          li {
                                            height: fit-content;

                                            a {
                                              font-size: $middle;
                                              font-weight: 400;
                                              padding: 7px;
                                              background-color: $fourth-color;
                                              color: $main-color;
                                              transition: background-color 0.3s ease;

                                              &:hover {
                                                background-color: $first-color;
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Adaptive design for this page.
@include x-large {
  .main-content {
    main {
      .region-content-news {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-search-news {
                      display: flex;
                      flex-direction: column;

                      .view-filters {
                        padding: 0 10px;
                        padding-bottom: 25px;
                      }

                      .view-content {
                        padding-left: 10px;
                        padding-right: 10px;

                        .views-row {
                          display: flex;
                          justify-content: center;
                          width: 100% !important;

                          article {
                            width: fit-content;

                            .content {
                              padding: 10px;

                              .row {
                                .bs-region--right {
                                  width: 85vw !important;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content-news {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-search-news {
                      .view-empty {
                        font-size: $middle;
                        line-height: 1;
                      }

                      .view-content {
                        .views-row {
                          article {
                            .content {
                              .row {
                                justify-content: center;
                                flex-wrap: wrap;

                                .bs-region--left {
                                  padding: 0 !important;
                                  padding-bottom: 15px !important;
                                  width: 100% !important;
                                }

                                .bs-region--right {
                                  border-top: 1px solid $second-color;
                                  width: 90vw !important;
                                  max-width: 100% !important;
                                  padding-top: 15px !important;

                                  .block-layout-builder {
                                    &:nth-child(1) {
                                      padding-left: 0 !important;
                                      border-left: none !important;

                                      .field--name-field-images-news {
                                        img {
                                          height: 48px !important;
                                        }
                                      }
                                    }

                                    &:nth-child(6) {
                                      padding-left: 0 !important;
                                      border-left: none !important;
                                    }

                                    &:nth-child(7) {
                                      padding-left: 0 !important;
                                      border-left: none !important;
                                    }

                                    &:nth-child(8) {
                                      padding-left: 0 !important;
                                      border-left: none !important;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include small {
  .main-content {
    main {
      .region-content-news {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-search-news {
                      .view-empty {
                        margin: 10px 10px;
                      }

                      .view-content {
                        .views-row {
                          article {
                            .content {
                              .row {
                                &:nth-child(1) {
                                  .bs-region--right {
                                    .block-layout-builder {
                                      &:nth-child(6) {
                                        span {
                                          line-height: 1 !important;
                                          font-weight: 500;
                                          font-size: $main;
                                        }
                                      }

                                      &:nth-child(8) {
                                        padding-bottom: 10px;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-small {
  .main-content {
    main {
      .region-content-news {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-search-news {
                      .view-empty {
                        font-size: $small;
                        line-height: 1;
                      }

                      .view-content {
                        .views-row {
                          article {
                            .content {
                              padding: 0;

                              .row {
                                justify-content: center;
                                flex-wrap: wrap;

                                .bs-region--right {
                                  justify-content: center;

                                  .block-layout-builder {
                                    &:nth-child(1) {
                                      padding-bottom: 10px;
                                      width: 100% !important;

                                      .field--name-field-images-news {
                                        img {
                                          height: 48px !important;
                                        }
                                      }
                                    }

                                    &:nth-child(2) {
                                      margin-left: 0 !important;
                                    }

                                    &:nth-child(4) {
                                      height: fit-content;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
