// Styles for the project page.
.main-content {
  main {
    .region-content-projects {
      .region-content {
        padding: 0;
        max-width: 1220px;
        margin: 0 auto;

        article {
          .content {
            .layout {
              .views-element-container {
                div {
                  .view-all-projects {
                    .view-content {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;

                      .views-row {
                        margin-bottom: 25px !important;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & > * {
                          text-transform: uppercase;
                        }

                        article {
                          .content {
                            .layout {
                              display: flex;
                              flex-direction: column;
                              align-items: center;

                              & > * {
                                text-transform: uppercase;
                              }

                              .block-layout-builder {

                                // Styles for the image.
                                &:nth-child(1) {
                                  margin-top: 10px;

                                  &::before, &::after {
                                    display: none;
                                  }

                                  .field--name-field-images-projects {
                                    width: fit-content;
                                    margin: 0 auto;
                                    margin-bottom: 30px;
                                  }
                                }

                                // Styles for the title.
                                &:nth-child(2) {
                                  width: fit-content;
                                  margin: 0 auto;
                                  margin-bottom: 10px;

                                  & > * {
                                    font-weight: 600;
                                    font-size: $medium;
                                  }
                                }

                                // Styles for the taxonomy term.
                                &:nth-child(3) {
                                  font-size: $x-small;
                                  text-align: center;
                                  line-height: 1.5;
                                  margin-bottom: 15px;
                                  color: $second-color;

                                  a {
                                    text-decoration: none;

                                    &:hover {
                                      text-decoration: none;
                                      filter: none;
                                    }
                                  }

                                  a[href*="drupal"] {
                                    color: $drupal-project;
                                  }

                                  a[href*="app"] {
                                    color: $app-development;
                                  }

                                  a[href*="php"] {
                                    color: $php-development;
                                  }

                                  a[href*="web"] {
                                    color: $web-development;
                                  }
                                }

                                // Styles for the link.
                                &:nth-child(4) {
                                  width: fit-content;
                                  padding: 5px;

                                  ul {
                                    width: fit-content;
                                    margin: 0;
                                    padding: 0;

                                    li {
                                      padding: 0;
                                      margin: 0;
                                      width: fit-content;

                                      a {
                                        padding: 5px;
                                        font-size: $small;
                                        color: $main-color;
                                        background-color: $fourth-color;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Adaptive design for this page.
@include x-large {
  .main-content {
    main {
      .region-content-projects {
        .region-content {
          article {
            .content {
              .layout {
                .views-element-container {
                  div {
                    .view-all-projects {
                      .view-content {
                        padding: 0 10px;
                        padding-top: 50px;
                        justify-content: center;

                        .views-row {
                          margin-right: 25px;
                          margin-left: 25px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content-projects {
        .region-content {
          article {
            .content {
              .layout {
                .views-element-container {
                  div {
                    .view-all-projects {
                      .view-content {
                        padding: 0 10px;
                        padding-top: 50px;
                        justify-content: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
