.main-content {
  main {
    .region-content {
      .region-content-search-page {
        width: 1220px;
        margin: 0 auto;
        margin-top: 50px;

        .search-form {
          margin-bottom: 30px;

          .container-inline {
            display: flex;
            align-items: center;

            .form-type-search {
              label {
                display: none;
              }

              input {
                border-radius: 2.5px;
              }
            }

            .form-submit {
              border-radius: 2.5px;
              background-color: $second-color;
              border-color: $second-color;
            }
          }

          .search-help-link {
            display: none;
          }

          .search-advanced {
            display: none;
          }
        }

        h2 {
          font-size: 32px;
          color: $third-color;
          margin: 0 !important;

          &::before, &::after {
            width: 35%;
          }
        }

        .item-list {
          h3 {
            font-size: 32px;
            width: fit-content;
            color: $third-color;
            margin: 55px auto;
            padding: 10px 15px;
            border: 1px solid $third-color;
          }

          .search-results {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
              margin: 10px 0px;
              width: 49%;
              border-radius: 2.5px;
              border: 1.5px solid $second-color;
              font-size: $small;
              padding: 5px 10px;
              display: flex;
              flex-direction: column;

              .title {
                margin-bottom: 15px;

                a {
                  line-height: normal;
                  color: $third-color;
                  font-size: $large;

                  &:hover {
                    color: $second-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
