// Styles for the search page linked from the header.
.main-content {
  main {
    .region-content {
      .region-content-search-page {
        max-width: 1220px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0 10px;

        h2 {
          color: $third-color;
          margin: 0 auto !important;
          font-size: 36px !important;

          &::before, &::after {
            width: 35% !important;
          }
        }

        // Styles for the search form.
        .search-form {
          margin-bottom: 30px;

          .container-inline {
            display: flex;
            align-items: center;

            .form-type-search {
              label {
                display: none;
              }

              input {
                border-radius: 2.5px;
              }
            }

            .form-submit {
              border-radius: 2.5px;
              background-color: $second-color;
              border-color: $second-color;
            }
          }

          .search-help-link {
            display: none;
          }

          .search-advanced {
            display: none;
          }
        }

        // Styles for the list of found items.
        .item-list {
          h3 {
            font-size: 32px;
            width: fit-content;
            color: $third-color;
            margin: 55px auto;
            padding: 10px 15px;
            border: 1px solid $third-color;
          }

          .search-result {
            border: none;
            margin: 0;
            padding: 0;
          }

          .search-results {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
              margin: 10px 0px;
              width: 49%;
              border-radius: 2.5px;
              border: 1.5px solid $second-color;
              font-size: $small;
              padding: 5px 10px;
              display: flex;
              flex-direction: column;

              .title {
                margin-bottom: 15px;

                a {
                  line-height: normal;
                  color: $third-color;
                  font-size: $large;

                  &:hover {
                    color: $second-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Adaptive design for this page.
@include x-large {
  .main-content {
    main {
      .region-content {
        .region-content-search-page {
          h2 {
            color: $third-color;
            margin: 0 auto !important;
            font-size: 32px !important;
          }
        }
      }
    }
  }
}

@include large {
  .main-content {
    main {
      .region-content {
        .region-content-search-page {
          h2 {
            color: $third-color;
            margin: 0 auto !important;
            font-size: 28px !important;

            &::before, &::after {
              width: 30% !important;
            }
          }

          .item-list {
            .search-results {
              li {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content {
        .region-content-search-page {
          h2 {
            color: $third-color;
            margin: 0 auto !important;
            font-size: $main !important;

            &::before, &::after {
              width: 20% !important;
            }
          }
        }
      }
    }
  }
}

@include x-small {
  .main-content {
    main {
      .region-content {
        .region-content-search-page {
          h2 {
            color: $third-color;
            margin: 0 auto !important;
            font-size: $medium !important;

            &::before, &::after {
              width: 15% !important;
            }
          }
        }
      }
    }
  }
}
