// Styles for the services page.
.main-content {
  main {
    .region-content-services {
      .region-content {
        padding: 0;
        max-width: 1220px;
        margin: 0 auto;

        article {
          .content {
            .layout {
              .block-layout-builder:nth-of-type(1) {
                &::before {
                  width: 44%;
                }

                &::after {
                  width: 44%;
                }
              }

              .block-views {
                div {
                  .view-all-services {
                    .view-content {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;

                      .views-row {
                        width: 25%;

                        article {
                          .content {
                            .layout {
                              margin-bottom: 85px !important;
                              display: flex;
                              flex-direction: column;
                              align-items: center;

                              & > * {
                                text-transform: uppercase;
                              }

                              .block-layout-builder {

                                // Styles for the image.
                                &:nth-child(1) {
                                  height: 150px;

                                  &::before, &::after {
                                    display: none;
                                  }

                                  .field--name-field-images {
                                    width: fit-content;
                                    margin: 0 auto;
                                    margin-bottom: 30px;
                                  }
                                }

                                // Styles for the title.
                                &:nth-child(2) {
                                  width: fit-content;
                                  margin: 0 auto;
                                  margin-bottom: 10px;

                                  & > * {
                                    font-weight: 600;
                                    font-size: $medium;
                                  }
                                }

                                // Styles for short text.
                                &:nth-child(3) {
                                  font-size: $s-small;
                                  text-align: center;
                                  line-height: 1.5;
                                  margin-bottom: 15px;
                                  color: $second-color;
                                }

                                // Styles for the link.
                                &:nth-child(4) {
                                  width: fit-content;
                                  padding: 5px;

                                  ul {
                                    width: fit-content;
                                    margin: 0;
                                    padding: 0;

                                    li {
                                      padding: 0;
                                      margin: 0;
                                      width: fit-content;

                                      a {
                                        padding: 5px;
                                        font-size: $small;
                                        color: $main-color;
                                        background-color: $first-color;
                                        transition: background-color 0.3s ease;

                                        &:hover {
                                          background-color: $fourth-color
                                        }

                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Adaptive design for this page.
@include x-large {
  .main-content {
    main {
      .region-content-services {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-all-services {
                      .view-content {
                        padding: 0 10px;
                        justify-content: center;

                        .views-row {
                          margin: 0;
                          width: 30%;

                          article {
                            .content {
                              .layout {
                                margin-bottom: 45px !important;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include large {
  .main-content {
    main {
      .region-content-services {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-all-services {
                      .view-content {
                        .views-row {
                          width: 45%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content-services {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-all-services {
                      .view-content {
                        .views-row {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



