// Styles for a page with a taxonomy in the news.
.main-content {
  main {
    .region-content {
      padding: 0;

      .region-content-simple-news {
        max-width: 1220px;
        margin: 35px auto;
        padding: 0 10px;

        .views-element-container {
          .view {
            .view-header {
              &::before, &::after {
                width: 35% !important;
              }
            }

            .view-content {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;

              .views-row {
                width: 48%;
                padding: 0;
                margin: 0;
                margin-bottom: 25px;

                article {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  .content {
                    & > * {
                      text-transform: uppercase;
                      margin: 0;
                      padding: 0;
                    }

                    .row {
                      &:nth-child(1) {
                        & > * {
                          padding: 0;
                        }

                        .bs-region--left {
                          width: fit-content;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          padding-right: 15px;

                          & > * {
                            margin: 0;
                            padding: 0;
                            width: fit-content;
                          }

                          .block-layout-builder {
                            &::before, &::after {
                              display: none;
                            }

                            &:nth-child(1) {
                              font-size: $average;
                              line-height: normal;
                              font-weight: 400;
                            }

                            &:nth-child(2) {
                              color: $first-color;
                              font-weight: 700;
                              font-size: 42px;
                              line-height: 0.75;
                            }

                            &:nth-child(3) {
                              line-height: 1;
                              font-size: $small;
                              color: $second-color;
                            }
                          }
                        }

                        .bs-region--right {
                          position: relative;
                          display: flex;
                          flex-wrap: wrap;
                          width: 88%;

                          & > * {
                            margin: 0;
                            padding: 0;
                          }

                          .block-layout-builder {
                            & > * {
                              font-size: 10px;
                              line-height: 0.75;
                            }

                            &::before, &::after {
                              display: none;
                            }

                            &:nth-child(1) {
                              width: fit-content;
                              height: fit-content;
                              border-left: 1px solid $second-color;
                              padding-left: 15px;

                              .field--name-field-images-news {
                                img {
                                  width: auto;
                                  height: 72px;
                                }
                              }
                            }

                            &:nth-child(2) {
                              margin-left: 10px;
                              height: fit-content;

                              .field--name-field-job-news {
                                color: $second-color;
                              }
                            }

                            &:nth-child(3) {
                              height: fit-content;
                              width: fit-content;
                              white-space: nowrap;
                              margin-left: 2.5px;

                              .field::after {
                                content: '/';
                                display: inline;
                                margin: 0 2.5px;
                              }
                            }

                            &:nth-child(4) {
                              height: fit-content;

                              .field--name-field-news-topic {
                                a {
                                  text-decoration: none;
                                  color: $first-color;
                                }
                              }
                            }

                            &:nth-child(5) {
                              height: fit-content;
                              color: $second-color;
                              display: flex;
                              justify-content: flex-end;
                              position: absolute;
                              right: 0;
                            }

                            &:nth-child(6) {
                              border-left: 1px solid $second-color;
                              padding-left: 15px;
                              margin-top: 20px;
                              line-height: 0.75;
                              justify-content: normal;
                              padding-bottom: 15px;
                              width: 100%;

                              span {
                                font-weight: 400;
                                font-size: $main;
                              }
                            }

                            &:nth-child(7) {
                              width: 100%;
                              border-left: 1px solid $second-color;
                              padding-left: 15px;
                              padding-bottom: 20px;

                              .field--name-body {
                                p {
                                  font-size: $x-small;
                                  letter-spacing: 0;
                                  word-spacing: -1px;
                                  line-height: 1;
                                }
                              }
                            }

                            &:nth-child(8) {
                              border-left: 1px solid $second-color;
                              width: 100%;
                              justify-content: flex-end;
                              height: fit-content;

                              & * {
                                display: flex;
                                height: fit-content;
                                padding: 0;
                              }

                              .node--links {
                                ul {
                                  li {
                                    height: fit-content;

                                    a {
                                      font-size: 18px;
                                      font-weight: 400;
                                      padding: 7px;
                                      background-color: $fourth-color;
                                      color: $main-color;
                                      transition: background-color 0.3s ease;

                                      &:hover {
                                        background-color: $first-color;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-large {
  .main-content {
    main {
      .region-content {
        .region-content-simple-news {
          .views-element-container {
            .view {
              .view-content {
                .views-row {
                  display: flex;
                  justify-content: center;
                  width: 100% !important;

                  article {
                    width: fit-content;

                    .content {
                      padding: 10px;

                      .row {
                        .bs-region--right {
                          width: 85vw !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include large {
  .main-content {
    main {
      .region-content {
        .region-content-simple-news {
          .views-element-container {
            .view {
              .view-header {
                &::before, &::after {
                  width: 30% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content {
        .region-content-simple-news {
          .views-element-container {
            .view {
              .view-header {
                font-size: 22px;

                &::before, &::after {
                  width: 25% !important;
                }
              }

              .view-content {
                .views-row {
                  article {
                    .content {
                      .row {
                        justify-content: center;
                        flex-wrap: wrap;

                        .bs-region--left {
                          padding: 0 !important;
                          padding-bottom: 15px !important;
                          width: 100% !important;
                        }

                        .bs-region--right {
                          border-top: 1px solid $second-color;
                          width: 90vw !important;
                          max-width: 100% !important;
                          padding-top: 15px !important;

                          .block-layout-builder {
                            &:nth-child(1) {
                              padding-left: 0 !important;
                              border-left: none !important;

                              .field--name-field-images-news {
                                img {
                                  height: 48px !important;
                                }
                              }
                            }

                            &:nth-child(6) {
                              padding-left: 0 !important;
                              border-left: none !important;
                            }

                            &:nth-child(7) {
                              padding-left: 0 !important;
                              border-left: none !important;
                            }

                            &:nth-child(8) {
                              padding-left: 0 !important;
                              border-left: none !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include small {
  .main-content {
    main {
      .region-content {
        .region-content-simple-news {
          .views-element-container {
            .view {
              .view-header {
                font-size: 18px;

                &::before, &::after {
                  width: 20% !important;
                }
              }

              .view-content {
                .views-row {
                  article {
                    .content {
                      .row {
                        &:nth-child(1) {
                          .bs-region--right {
                            .block-layout-builder {
                              &:nth-child(6) {
                                span {
                                  line-height: 1 !important;
                                  font-weight: 500;
                                  font-size: $main;
                                }
                              }

                              &:nth-child(8) {
                                padding-bottom: 10px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-small {
  .main-content {
    main {
      .region-content {
        .region-content-simple-news {
          .views-element-container {
            .view {
              .view-header {
                font-size: 16px !important;

                &::before, &::after {
                  width: 15% !important;
                }
              }

              .view-content {
                .views-row {
                  article {
                    .content {
                      padding: 0;

                      .row {
                        justify-content: center;
                        flex-wrap: wrap;

                        .bs-region--right {
                          justify-content: center;

                          .block-layout-builder {
                            &:nth-child(1) {
                              padding-bottom: 10px;
                              width: 100% !important;

                              .field--name-field-images-news {
                                img {
                                  height: 48px !important;
                                }
                              }
                            }

                            &:nth-child(2) {
                              margin-left: 0 !important;
                            }

                            &:nth-child(4) {
                              height: fit-content;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Styles for a page with taxonomy in the projects.
.main-content {
  main {
    .region-content {
      .region-content-simple-projects {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 10px;

        .views-element-container {
          .view {
            .view-content {
              display: flex;
              padding-top: 50px;
              flex-wrap: wrap;
              justify-content: space-evenly;

              .views-row {
                background-color: $main-color;
                padding-bottom: 10px;
                margin-bottom: 25px !important;
                display: flex;
                flex-direction: column;
                align-items: center;

                & > * {
                  text-transform: uppercase;
                }

                article {
                  .content {
                    .layout {
                      display: flex;
                      flex-direction: column;
                      align-items: center;

                      & > * {
                        text-transform: uppercase;
                      }

                      .block-layout-builder {
                        &:nth-child(1) {
                          &::before, &::after {
                            display: none;
                          }

                          .field--name-field-images-projects {
                            width: fit-content;
                            margin: 0 auto;
                            margin-bottom: 30px;
                          }
                        }

                        &:nth-child(2) {
                          width: fit-content;
                          margin: 0 auto;
                          margin-bottom: 10px;

                          & > * {
                            font-weight: 600;
                            font-size: $medium;
                          }
                        }

                        &:nth-child(3) {
                          font-size: $x-small;
                          text-align: center;
                          line-height: 1.5;
                          margin-bottom: 15px;
                          color: $second-color;

                          a {
                            text-decoration: none;

                            &:hover {
                              text-decoration: none;
                              filter: none;
                            }
                          }

                          a[href*="drupal"] {
                            color: $drupal-project;
                          }

                          a[href*="app"] {
                            color: $app-development;
                          }

                          a[href*="php"] {
                            color: $php-development;
                          }

                          a[href*="web"] {
                            color: $web-development;
                          }
                        }

                        &:nth-child(4) {
                          width: fit-content;
                          padding: 5px;

                          ul {
                            width: fit-content;
                            margin: 0;
                            padding: 0;

                            li {
                              padding: 0;
                              margin: 0;
                              width: fit-content;

                              a {
                                padding: 5px;
                                font-size: $small;
                                color: $main-color;
                                background-color: $fourth-color;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-large {
  .main-content {
    main {
      .region-content {
        .region-content-simple-projects {
          .views-element-container {
            .view {
              .view-content {
                padding: 0 10px;
                padding-top: 50px;

                .views-row {
                  margin-right: 25px;
                  margin-left: 25px;
                  margin-bottom: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content {
        .region-content-simple-projects {
          .views-element-container {
            .view {
              .view-content {
                padding: 0 10px;
                padding-top: 50px;
                justify-content: center;

                .views-row {
                  margin-right: 25px;
                  margin-left: 25px;
                  margin-bottom: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
