.main-content {
  main {
    .region-content-team {
      .region-content {
        margin: 0 auto;
        max-width: 1220px;
        padding: 0;

        article {
          .content {
            .layout {
              .block-layout-builder:nth-of-type(1) {
                &::before {
                  width: 44%;
                }

                &::after {
                  width: 44%;
                }
              }

              .block-views {
                div {
                  .view-all-team {
                    .view-content {
                      max-width: 1220px;
                      margin: 0 auto;
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;

                      .views-row {
                        margin: 0 10px;

                        article {
                          .content {
                            margin-top: 65px;

                            .layout {
                              width: fit-content;
                              display: flex;
                              flex-direction: column;
                              align-items: center;

                              .block-layout-builder {
                                &:nth-child(1) {
                                  &::before, &::after {
                                    display: none;
                                  }

                                  img {
                                    filter: grayscale(100%);
                                    width: 270px;
                                    height: auto;
                                    transition: filter 1s ease;

                                    &:hover {
                                      filter: grayscale(0);
                                    }
                                  }
                                }

                                &:nth-child(2) {
                                  margin-top: 15px;
                                  width: fit-content;
                                  text-transform: uppercase;
                                }

                                &:nth-child(3) {
                                  width: fit-content;
                                  font-size: $s-small;
                                  line-height: 1.5;
                                  text-transform: uppercase;
                                  margin-bottom: 15px;
                                  color: $second-color;
                                }

                                &:nth-child(4) {
                                  width: fit-content;
                                  padding: 2.5px;
                                  color: $second-color;

                                  ul {
                                    margin-left: 0;

                                    li {
                                      a {
                                        font-size: $x-small;
                                        padding: 6px;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        background-color: $fourth-color;
                                        color: $main-color;
                                        transition: background-color 0.3s ease;

                                        &:hover {
                                          background-color: $first-color;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }

                            .row {
                              --bs-gutter-x: 0;
                              margin-top: 25px;

                              .col-sm-6 {
                                padding: 0 !important;

                                &:nth-child(1) {
                                  width: 60%;

                                  .block-layout-builder {
                                    margin-top: 0;

                                    &::before, &::after {
                                      display: none;
                                    }

                                    ul {
                                      li {
                                        padding: 0;
                                      }
                                    }
                                  }
                                }

                                &:nth-child(2) {
                                  width: 40%;

                                  .block-layout-builder {
                                    margin-top: 0;

                                    &::before, &::after {
                                      display: none;
                                    }

                                    .likeit {
                                      .likeit__wrapper {
                                        .likeit__count {
                                          display: none;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    .pager {
                      margin-top: 65px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-large {
  .main-content {
    main {
      .region-content-team {
        .region-content {
          article {
            .content {
              .layout {

                .block-field-blocknodepagetitle {
                  margin-top: 65px !important;
                }

                .block-layout-builder:nth-of-type(1) {
                  margin-top: 0;
                }

                .block-views {
                  div {
                    .view-all-team {
                      .view-content {
                        padding: 0 10px;
                        justify-content: space-around;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      .region-content-team {
        .region-content {
          article {
            .content {
              .layout {
                .block-views {
                  div {
                    .view-all-team {
                      .view-content {
                        padding: 0 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
