.main-content {
  main {
    div {
      .region-content-node-team {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 10px;

        article {
          margin: 75px 0;

          .content {
            .layout {
              display: flex;
              flex-wrap: wrap;

              & > * {
                text-transform: uppercase;
              }

              .block-layout-builder {
                &:nth-child(1) {
                  width: 100%;
                  margin-bottom: 15px;
                  margin-top: 0 !important;

                  &:before, &:after {
                    display: none;
                  }
                }

                &:nth-child(2) {
                  justify-content: center;
                  width: 100%;
                  height: fit-content;
                }

                &:nth-child(3) {
                  justify-content: center;
                  width: 100%;
                  height: fit-content;

                  .field {
                    &::before {
                      content: 'Position: ';
                    }
                  }

                  .field--label-inline {
                    display: flex;
                  }
                }

                &:nth-child(4) {
                  width: 100%;
                  height: fit-content;
                  justify-content: center;
                  margin: 15px 0;
                }

                &:nth-child(5) {
                  width: 50%;
                  margin-top: 15px;
                  height: fit-content;
                  justify-content: center;
                }

                &:nth-child(6) {
                  margin-top: 15px;
                  width: 50%;
                  justify-content: center;

                  .likeit {
                    .likeit__wrapper {
                      .likeit__count {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include medium {
  .main-content {
    main {
      div {
        .region-content-node-team {
          article {
            .content {
              .layout {
                .block-layout-builder {
                  &:nth-child(1) {
                    .field--name-field-images-teams {
                      img {
                        height: auto;
                        width: 200px;
                      }
                    }
                  }

                  &:nth-child(2) {
                    font-size: $average;
                  }

                  &:nth-child(3) {
                    font-size: $average;
                  }

                  &:nth-child(4) {
                    font-size: $average;
                    line-height: 26px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include small {
  .main-content {
    main {
      div {
        .region-content-node-team {
          article {
            .content {
              .layout {
                .block-layout-builder {
                  &:nth-child(1) {
                    .field--name-field-images-teams {
                      img {
                        height: auto;
                        width: 150px;
                      }
                    }
                  }

                  &:nth-child(2) {
                    line-height: 1;
                    font-size: $small;
                  }

                  &:nth-child(3) {
                    font-size: $small;
                  }

                  &:nth-child(4) {
                    font-size: $small;
                    line-height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
