@import "../abstracts/mixins/media-query";

.top-page-banner-is, .top-page-banner-not {
  header {
    max-width: 1220px;
    margin: 0 auto;

    .header {
      padding-top: 40px;

      .region-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 108px;
        background-color: $main-color;

        .block-block-content {
          background-color: $fourth-color;
          text-align: center;
          padding: 31px;

          .field--name-body {
            p {
              display: flex;
              flex-direction: column;
              margin: 0;

              a {
                text-decoration: none;

                &:hover {
                  text-decoration: none;
                  filter: brightness(75%) !important;
                }

                &:active {
                  text-decoration: none;
                }

                &:first-child {
                  font-family: $FirstFocusFont, sans-serif;
                  color: $first-color;
                  font-size: 36px;
                }

                &:last-child {
                  line-height: 1;
                  font-family: $SecondFocusFont, sans-serif;
                  font-size: $small;
                  color: $second-color;
                }
              }
            }
          }
        }

        .navigation {
          height: 100%;

          .main-menu {
            display: flex;
            align-items: center;
            margin: 0 20px;
            height: 100%;

            ul {
              margin: 0;
              height: 100%;
              text-transform: uppercase;
              display: flex;
              list-style: none;

              li {
                &:first-child {
                  a {
                    background-repeat: no-repeat;
                    padding: 0;
                    display: flex;
                    background-position: center;
                  }
                }

                a {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  color: $third-color;
                  margin: 0 10px;
                  font-size: $x-small;
                  text-decoration: none;

                  &:hover, &:active {
                    position: relative;
                    text-decoration: none;

                    &::before {
                      position: absolute;
                      content: ' ';
                      width: 100%;
                      bottom: 0;
                      height: 10px;
                      background-color: $first-color;
                    }
                  }

                  &.is-active {
                    position: relative;

                    &:before {
                      position: absolute;
                      content: ' ';
                      width: 100%;
                      bottom: 0;
                      height: 10px;
                      background-color: $first-color;
                    }
                  }
                }
              }
            }
          }
        }

        .search-block-form {
          margin-right: 25px;
          width: 15%;

          form {
            margin-bottom: 0 !important;

            .form-item {
              width: 80%;

              input {
                width: 100%;
                padding: 0;
                box-shadow: none !important;
                border-radius: 0;
                -webkit-appearance: none !important;
                padding: 0 10px;

                &::placeholder {
                  opacity: 0;
                }
              }
            }

            .form-actions {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;

              &::before {
                position: absolute;
                content: '\F002';
                color: $second-color;
                font-family: $FontAwesome;
              }

              input {
                width: 100%;
                padding: 0;
                border-radius: 0;
                border: 1px solid #cccccc;
                background-color: transparent !important;
              }
            }
          }
        }

        #block-burger-menu-icon {
          display: none;
          background-color: transparent;

          .field--name-body {
            img {
              height: auto;
              width: 40px;
            }
          }
        }

        #block-burger-menu-list {
          z-index: 99;
          display: flex;
          align-items: center;
          transform: translateX(150%);
          transition: transform 0.3s ease-in-out;
          background-color: $main-color;
          position: fixed;
          right: 0;
          bottom: 0;
          width: 40%;
          height: 100%;

          .main-menu {
            top: 5%;
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;

            &::before {
              border-radius: 50%;
              padding: 5px 10px;
              background-color: $main-color;
              position: absolute;
              bottom: 10%;
              left: -20%;
              content: '\58';
              font-family: $FontAwesome;
            }

            ul {

              width: 100%;
              display: flex;
              flex-direction: column;

              li {
                display: flex;
                justify-content: center;
                margin: 15px 0;

                a {
                  justify-content: center;
                  width: 100%;
                  margin: 0;
                  padding: 0 15px;

                  &::before {
                    left: 0;
                    height: 100%;
                    width: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include x-large {
  .top-page-banner-is, .top-page-banner-not {
    header {
      .header {
        padding-top: 0 !important;

        .region-header {
          width: 100vw;
          height: fit-content;

          .block-block-content {
            padding: 20px;

            .field--name-body {
              p {
                a {
                  &:first-child {
                    font-size: 28px;
                  }

                  &:last-child {
                    font-size: $s-small;
                  }
                }
              }
            }
          }

          .navigation {
            .main-menu {
              margin: 0;

              ul {
                li {
                  a {
                    font-size: $s-small;
                    margin-bottom: 50px;
                  }
                }
              }
            }
          }

          .search-block-form {
            margin-right: 10px;
            width: 13%;

            form {
              .form-item {
                width: 75%;

                input {
                  font-size: 20px;

                  &::placeholder {
                    opacity: 0;
                  }
                }
              }

              .form-actions {
                width: 25%;

                &::before {
                  font-size: 20px;
                }

                input {
                  font-size: 20px;
                }
              }
            }
          }

          .block-social-media-links {
            ul {
              li {
                a {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include large {
  .top-page-banner-is, .top-page-banner-not {
    header {
      .header {
        padding-top: 0 !important;

        .region-header {
          #block-main-navigation, {
            display: none;
          }

          #block-burger-menu-icon {
            display: block;
          }
        }
      }
    }
  }
}

@include small {
  .top-page-banner-is, .top-page-banner-not {
    header {
      .header {
        padding-top: 0 !important;

        .region-header {
          .block-social-media-links {
            display: none;
          }
        }
      }
    }
  }
}
